<template>
<div>
    <v-btn @click="dialog_login=true" v-show="state_login" text x-small>
        <v-icon dark small>
            mdi-login
        </v-icon>
        Acceso
    </v-btn>
    <v-btn @click="dialog_register=true" v-show="state_login" text x-small>
        <v-icon dark small>
            mdi-account-plus
        </v-icon>
        Registro
    </v-btn>
    <v-menu v-show="show_name" :nudge-width="150">
        <template v-slot:activator="{ on, attrs }">
            <v-btn v-show="nombre_user" text v-bind="attrs" x-small v-on="on">
                <v-icon dark small>
                    mdi-account
                </v-icon>
                {{ nombre_user }}
            </v-btn>

        </template>
        <v-card small>
            <v-list>
                <v-list-item>
                    <v-list-item-avatar>
                        <img src="img/icon_user.png" alt="John"> 
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ nombre_user }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-list>
                <v-list-item @click="redirect_mis_citas">
                    <v-list-item-title>Mis citas</v-list-item-title>
                </v-list-item>
            </v-list>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#ff0000" text>
                    Cerrar
                </v-btn>
                <v-btn color="primary" text @click="cerrar_sesion">
                    Salir
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-menu>
    <v-dialog v-model="dialog_login" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Iniciar sesion</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="email_login" label="Correo" required></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'" @click:append="show3 = !show3" v-model="password_login" label="Contraseña" :type="show3 ? 'text' : 'password'"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_login = false">
                    Cerrar
                </v-btn>
                <v-btn :loading="isUpdating" color="#3ac5d4" text outlined @click="login">
                    Continuar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_register" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">User Profile</span>
            </v-card-title>
            <v-card-text>
                <v-form ref="form" v-model="valid">
                    <v-container>
                        <v-row>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="name" filled color="blue-grey lighten-2" label="* Nombre completo" :rules="rules" required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="email" filled color="blue-grey lighten-2" label="* Correo electrónico" :rules="emailRules" required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="tel" type="number" filled color="blue-grey lighten-2" label="* Tel." :rules="rules" required></v-text-field>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-text-field v-model="password" color="blue-grey lighten-2" filled :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'" :rules="passwordRules" required :type="show3 ? 'text' : 'password'" label="* Contraseña" @click:append="show3 = !show3"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>* Indica campo requerido</small>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_register = false">
                    Cancelar
                </v-btn>
                <v-btn :disabled="!valid" :loading="isUpdating" color="#3ac5d4" depressed @click="register_user">
                    Continuar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-snackbar dark color="#e82020" v-model="snackbar_error_sesion" :multiLine="multiLine">
        {{ text_error }}
    </v-snackbar>

</div>
</template>

<script>
import axios from "axios";
export default {
    data() {
        return {
            multiLine: true,
            snackbar_error_sesion: false,
            text_error: '',
            dialog_login: false,
            dialog_register: false,
            state_login: false,
            show_name: false,
            nombre_user: '',
            correo_user: '',
            state_user: '',
            email: '',
            password: '',
            email_login: '',
            password_login: '',
            isUpdating: false,
            show3: false,
            nombre_user: '',
            fav: true,
            menu: false,
            message: false,
            hints: true,
            name: '',
            email: '',
            tel: '',
            password: '',
            valid: false,
            autoUpdate: true,
            rules: [
                v => !!v || 'Campo requerido'
            ],
            emailRules: [
                v => !!v || 'Correo electronico es requerido',
                v => /.+@.+/.test(v) || 'El email debe ser válido'
            ],
            passwordRules: [
                v => !!v || 'Contraseña requerida',
                v => v.length >= 10 || 'La contraseña debe tener al menos de 8 caracteres'
            ],

        }
    },
    watch: {

    },
    created() {
        this.validate_timer()
        this.set_vareables()
    },
    methods: {
        register_user() {
            this.isUpdating = true
            let formData = new FormData();
            formData.append('nombre', this.name);
            formData.append('correo', this.email);
            formData.append('tel', this.tel);
            formData.append('password', this.password);
            axios.post("/api/postcliente", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((response) => (this.response_register_cli(response.data)))
                .catch(function (error) {
                    console.log(error);
                });

        },
        response_register_cli(data) {
            this.isUpdating = false
            var cli = JSON.stringify(data.data)
            if (cli) {
                localStorage.setItem("cliente", cli)
                location.reload();
            } else {
                this.name = null
                this.email = null
                this.tel = null
                this.password = ''
            }
        },
        login() {
            this.isUpdating = true
            let formData = new FormData();
            formData.append('correo', this.email_login);
            formData.append('password', this.password_login);
            axios.post("/api/loginc", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((response) => (this.response_login(response.data)))
                .catch(function (error) {
                    console.log(error);
                });

        },
        response_login(data) {
            this.isUpdating = false
            var clis = data
            if (clis.state == 'success') {
                if (clis.data[0].correo != null) {
                    if (clis.data[0].state == 'open') {
                        this.nombre_user = clis.data[0].nombre
                        this.correo_user = clis.data[0].correo
                        this.show_name = true
                        var cli = JSON.stringify(clis.data[0])
                        localStorage.setItem("cliente", cli)
                        location.reload();
                        this.email = ''
                        this.password = ''
                    } else {
                        this.snackbar_error_sesion = true
                        this.text_error = 'Se termino la sesion'
                    }
                }
            } else {
                this.snackbar_error_sesion = true
                this.text_error = data.detail
                this.state_login = false
            }

        },
        validate_timer() {
            var localva = localStorage.getItem("cliente")
            if (localva) {
                setInterval(() => {
                    if (!localStorage.getItem("cliente")) {
                        location.reload();
                    } else {
                        this.set_vareables()
                        this.validate_session()
                    }
                }, 60000);
            }
        },
        set_vareables() {
            var localva = localStorage.getItem("cliente")
            if (localva) {
                var cli = JSON.parse(localva)
                if (cli) {
                    if (cli.correo != null) {
                        this.nombre_user = cli.nombre
                        this.correo_user = cli.correo
                        this.show_name = true
                    } else {
                        this.state_login = false
                    }
                } else {
                    this.show_name = false
                    this.state_login = true
                }
            } else {
                this.show_name = false
                this.state_login = true
            }

        },
        validate_session() {
            var localva = localStorage.getItem("cliente")
            var cli = JSON.parse(localva)
            let formData = new FormData();
            if (cli) {
                formData.append('correo', cli.correo);
                axios.post("/api/validateession", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => (this.response_login_vsalidate(response.data)))
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        },
        response_login_vsalidate(data) {
            var clis = data
            if (clis.data != 'null') {
                if (clis.data[0].state == 'open') {
                    this.nombre_user = clis.data[0].nombre
                    this.correo_user = clis.data[0].correo
                } else {
                    this.snackbar_error_sesion = true
                    this.text_error = 'Se termino la sesion'
                    localStorage.setItem("cliente", null)
                    location.reload();
                }
            } else {
                this.snackbar_error_sesion = true
                this.text_error = 'Se termino la sesion'
                localStorage.setItem("cliente", null)
                location.reload();

            }

        },
        cerrar_sesion() {
            localStorage.setItem("cliente", null)
            location.reload();
        },
        redirect_mis_citas(data) {
            window.location.replace("/mis_citas")

        },
    },
}
</script>
