<template>
<div>
    <v-btn @click="dialog_login=true" v-show="state_login" text x-small>
        Acceso
    </v-btn>
    <v-btn @click="dialog_login=true" v-show="state_login" text x-small>
        Registro
    </v-btn>
    <v-menu v-show="show_name" v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>
        <template v-slot:activator="{ on, attrs }">
            <v-btn text v-bind="attrs" x-small v-on="on">
                {{ nombre_user }}
            </v-btn>
        </template>
        <v-card>
            <v-list>
                <v-list-item>
                    <v-list-item-avatar>
                        <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title> {{ nombre_user }}</v-list-item-title>
                        <!-- <v-list-item-subtitle>Founder of Vuetify</v-list-item-subtitle> -->
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-list>
                <v-list-item @click="redirect_mis_citas">
                    <v-list-item-title>Mis citas</v-list-item-title>
                </v-list-item>
            </v-list>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="cerrar_sesion">
                    Salir
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-menu>
    <v-dialog v-model="dialog_login" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Iniciar sesion</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="email_login" label="Correo" required></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'" @click:append="show3 = !show3" v-model="password_login" label="Contraseña" :type="show3 ? 'text' : 'password'"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog_login = false">
                    Cerrar
                </v-btn>
                <v-btn :loading="isUpdating" color="#3ac5d4" text outlined @click="login">
                    Continuar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_register" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">User Profile</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Legal first name*" required></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Legal middle name" hint="example of helper text only on focus"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field label="Legal last name*" hint="example of persistent helper text" persistent-hint required></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field label="Email*" required></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field label="Password*" type="password" required></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-select :items="['0-17', '18-29', '30-54', '54+']" label="Age*" required></v-select>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-autocomplete :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']" label="Interests" multiple></v-autocomplete>
                        </v-col>
                    </v-row>
                </v-container>
                <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">
                    Close
                </v-btn>
                <v-btn color="blue darken-1" text @click="dialog = false">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
</template>

<script>
import axios from "axios";
export default {
    data() {
        return {
            dialog_login: false,
            dialog_register: false,
            state_login: false,
            show_name: false,
            nombre_user: '',
            correo_user: '',
            state_user: '',
            email: '',
            password: '',
            email_login: '',
            password_login: '',
            isUpdating: false,
            show3: false,
            nombre_user: '',
            fav: true,
            menu: false,
            message: false,
            hints: true,

        }
    },
    watch: {

    },
    created() {
        this.set_vareables()
    },
    methods: {
        login() {
            this.isUpdating = true
            let formData = new FormData();
            formData.append('correo', this.email_login);
            formData.append('password', this.password_login);
            axios.post("/api/loginc", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((response) => (this.response_login(response.data)))
                .catch(function (error) {
                    console.log(error);
                });

        },
        response_login(data) {
            this.isUpdating = false
            console.log(data)
            var clis = data
            if (clis.data[0].correo != null) {
                this.nombre_user = clis.data[0].nombre
                this.correo_user = clis.data[0].correo
                this.show_name = true
            } else {
                this.state_login = false
            }
            var cli = JSON.stringify(clis)
            if (cli) {
                localStorage.setItem("cliente", cli)
                location.reload();
            }

            this.email = ''
            this.password = ''
        },
        set_vareables() {
            var localva = localStorage.getItem("cliente")
            if (localva) {
                var cli = JSON.parse(localva)
                if (cli) {
                    if (cli.data[0].correo != null) {
                        this.nombre_user = cli.data[0].nombre
                        this.correo_user = cli.data[0].correo
                        this.show_name = true
                    } else {
                        this.state_login = false
                    }
                } else {
                    this.show_name = false
                    this.state_login = true
                }
            } else {
                this.show_name = false
                this.state_login = true
            }

        },
        cerrar_sesion() {
            localStorage.setItem("cliente", null)
            location.reload();
        },
        redirect_mis_citas(data) {
            window.location.replace("/mis_citas")

        },
    },
}
</script>
