<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <v-data-table :headers="headers" :items="citas" sort-by="id" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Citas agendadas</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                    <v-dialog v-model="dialog" max-width="550px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn class="mx-2" fab dark small color="#3ac5d4" v-bind="attrs" v-on="on">
                                <v-icon dark>mdi-plus</v-icon>
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="4">
                                            <v-autocomplete v-model="editedItem.cliente" :items="clientes_cat" item-value="id" item-text="clientesD" return-object label="Clientes"></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-autocomplete v-model="editedItem.servicio" :items="servicios_cat" item-value="id" item-text="servicios" return-object label="Servicios"></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-autocomplete v-model="editedItem.codigo" :items="codigos_cat" item-value="id" item-text="codigos" return-object label="Códigos"></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" md="12">
                                            <v-autocomplete v-model="editedItem.fechaD" :items="hora_cat" item-value="id" item-text="horarioDis" return-object label="Horarios disponibles"></v-autocomplete>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="validateElements(item)">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">¿Eliminar este elemento?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.fecha="props">
                <v-edit-dialog :return-value.sync="props.item.fecha" large persistent @save="saveDate(props.item)">
                    <div>{{ props.item.fecha }}</div>
                    <template v-slot:input>
                        <div class="mt-4 text-h6">
                            Editar fecha
                        </div>
                        <v-text-field v-model="props.item.fecha" :rules="[max19chars]" label="Edit" single-line counter autofocus></v-text-field>
                    </template>
                </v-edit-dialog>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip elevation="2" rounded small v-if="item.state=='draft'" color="#FF9D00">Pendiente</v-chip>
                <v-chip elevation="2" rounded small v-else-if="item.state=='paid'" color="#4CAF50">Confirmada</v-chip>
                <v-chip elevation="2" rounded small v-else color="#FF5252">Cancelada</v-chip>
            </template>
            <template v-slot:item.status="{ item }">
                <v-chip elevation="2" rounded v-if="item.state=='paid'" color="#FF5252" @click="changeState(item)">Cancelar</v-chip>
                <v-chip elevation="2" rounded v-else-if="item.state=='draft'" color="#4CAF50" @click="changeState(item)">Aprovar</v-chip>
                <v-chip elevation="2" rounded v-else-if="item.state=='cancel'" color="#4CAF50" @click="changeState(item)">Aprovar</v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon color="#FF5252" small class="mr-3" @click="removeCode(item)">mdi-star-off</v-icon>
                <v-icon small class="mr-3" @click="editItem(item)">mdi-pencil</v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">mdi-delete</v-icon>
            </template>
            <template v-slot:no-data>
                <span>No hay datos disponibles</span>
                <br>
                <br>
                <v-btn color="#2b81d6" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
        <template>
            <v-snackbar v-model="snackbar" :timeout="timeout" :color="Scolor">
                {{ mensaje }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
                </template>
            </v-snackbar>
        </template>
    </div>
</div>
</template>

<script>
import axios from "axios";
export default {
    data: () => ({
        search: "",
        dialog: false,
        dialogDelete: false,
        menu: false,
        modal: false,
        modal2: false,
        menu2: false,
        snackbar: false,
        mensaje: "",
        Scolor: "",
        date_chg: false,
        timeout: 2500,
        hora_cat: [],
        info_cat: [],
        clientes_cat: [],
        servicios_cat: [],
        codigos_cat: [],
        max19chars: v => v.length < 20 || 'Input too long!',
        items: [{
                text: "Pendiente",
                value: "draft"
            },
            {
                text: "Aprovada",
                value: "paid"
            },
            {
                text: "Cancelada",
                value: "cancel"
            }
        ],
        headers: [{
                text: "ID",
                align: "start",
                sortable: false,
                value: "id"
            },
            {
                text: "Folio",
                value: "folio"
            },
            {
                text: "Nombre",
                value: "nombre"
            },
            {
                text: "Correo",
                value: "correo"
            },
            {
                text: "Tel",
                value: "tel"
            },
            {
                text: "Fecha",
                value: "fecha"
            },
            {
                text: "Servicio",
                value: "servicio"
            },
            {
                text: "Código de descuento",
                value: "code"
            },
            {
                text: "Estado",
                value: "state"
            },
            {
                text: "Estatus",
                value: "status"
            },
            {
                text: "Opciones",
                value: "actions",
                sortable: false
            }
        ],
        citas: [],
        editedIndex: -1,
        editedItem: {
            nombre: "",
            correo: "",
            tel: "",
            Sfecha: "",
            state: "",
            status: "",
            horario: "",
            fechaD: "",
            cliente: "",
            horInfo: "",
            cliente_id: "",
            horario_id: "",
            hora: "",
            servicio: "",
            codigo: "",
        },
        defaultItem: {
            nombre: "",
            correo: "",
            tel: "",
            Sfecha: "",
            state: "",
            status: "",
            horario: "",
            fechaD: "",
            cliente: "",
            horInfo: "",
            cliente_id: null,
            horario_id: null,
            hora: "",
            servicio: "",
            codigo: "",
        }
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? "Nueva cita" : "Editar cita";
        }
    },

    watch: {
        dialog(val) {
            val || this.close();
        },
        dialogDelete(val) {
            val || this.closeDelete();
        }
    },

    created() {
        this.initialize();
    },

    methods: {
        initialize() {
            this.editedItem.fechaD = null;
            this.editedItem.cliente = null;
            this.citas = [];
            this.horarios = [];
            axios
                .get("/api/getcitasadmin")
                .then(response => (this.citas = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });
            axios
                .get("/api/gethorariosdisponibles")
                .then(response => response.data.data.forEach(this.set_horarios))
                .catch(function (error) {
                    console.log(error);
                });
            axios
                .get("/api/getclientes")
                .then(response => response.data.data.forEach(this.set_clientes))
                .catch(function (error) {
                    console.log(error);
                });
            axios
                .get("/api/getservicios")
                .then(response => response.data.data.forEach(this.set_servicios))
                .catch(function (error) {
                    console.log(error);
                });
            axios
                .get("/api/getcodigos")
                .then(response => response.data.data.forEach(this.set_codigos))
                .catch(function (error) {
                    console.log(error);
                });
        },
        set_horarios(element) {
            this.hora_cat.push({
                id: element.id,
                horarioDis: String(
                    element.fecha +
                    ", " +
                    element.calle +
                    ", " +
                    element.colonia +
                    ", " +
                    element.ciudad +
                    ", " +
                    element.estado
                )
            });
        },
        set_clientes(element) {
            this.clientes_cat.push({
                id: element.id,
                clientesD: String(element.nombre),
                email: String(element.correo)
            });
        },

        set_servicios(element) {
            this.servicios_cat.push({
                id: element.id,
                servicios: String(element.nombre + " " + element.tipo)
            });
        },

        set_codigos(element) {
            this.codigos_cat.push({
                id: element.id,
                codigos: String(element.code)
            });
        },
        validateElements() {
            if (this.editedIndex > -1) {
                this.save();
            } else {
                if (this.editedItem.cliente.id == null || this.editedItem.fechaD.id == null ||
                    this.editedItem.cliente == undefined || this.editedItem.fechaD == undefined) {
                    this.mensaje = "Hay campos vacios";
                    this.Scolor = "#FF9D00";
                    this.snackbar = true;
                } else {
                    this.save();
                }

            }

        },
        changeState(item) {
            var sta = "";
            if (item.state == "draft") {
                sta = "paid";
            }
            if (item.state == "paid") {
                sta = "cancel";
            }
            if (item.state == "cancel") {
                sta = "paid";
            }
            let formData = new FormData();
            formData.append("id", item.id);
            formData.append("state", sta);
            axios
                .post("/api/changestate", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                })
                .then(response => console.log(response.data.data), this.initialize())
                .catch(function (error) {
                    console.log(error);
                });
        },

        editItem(item) {
            this.editedIndex = this.citas.indexOf(item);
            const Sfecha = new Date(item.fecha).toISOString().slice(0, 10);
            const hora = new Date(item.fecha).toLocaleTimeString();
            this.editedItem.id = item.id;
            this.editedItem.Sfecha = String(Sfecha);
            this.editedItem.hora = String(hora);
            this.editedItem.cliente = item.cliente_id;
            this.editedItem.fechaD = item.horario_id;
            this.editedItem.horInfo = item.horario_id;
            this.editedItem.servicio = item.servicio_id;
            this.editedItem.codigo = item.codigo_id;
            this.editedItem.cliente_id = item.cliente_id;
            this.editedItem.horario_id = item.horario_id;
            this.dialog = true;
        },
        deleteItem(item) {
            this.editedIndex = this.citas.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialogDelete = true;
        },

        deleteItemConfirm() {
            this.citas.splice(this.editedIndex, 1);
            let formData = new FormData();
            formData.append("id", this.editedItem.id);
            formData.append("horario_id", this.editedItem.horario_id);
            axios
                .post("/api/deletecita", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                })
                .then(response => {
                    console.log(response.status);
                    if (response.status === 200) {
                        this.snackbar = true;
                        this.Scolor = "#4CAF50";
                        this.mensaje = "Eliminación exitosa";
                    }
                })
                .catch(error => {
                    if (error.response) {
                        this.snackbar = true;
                        this.mensaje = "Ups, Hubo un problema al eliminar";
                        this.Scolor = "#FF5252";
                    }
                });
            this.closeDelete();
        },

        close() {
            this.dialog = false;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
            });
        },

        closeDelete() {
            this.dialogDelete = false;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
            });
        },

        removeCode(item) {
            this.editedIndex = this.citas.indexOf(item);
            this.editedItem.id = item.id;
            this.editedItem.codigo_id = item.codigo_id;
            if (this.editedItem.codigo_id == null) {
                this.snackbar = true;
                this.mensaje = "La cita ya no cuenta con código";
                this.Scolor = "#FF9D00";
            } else {
                let formDataRC = new FormData();
                formDataRC.append("id", this.editedItem.id);
                axios
                    .post("/api/removecode", formDataRC, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                    .then(response => {
                        if (response.status === 200) {
                            this.mensaje = "Código removido";
                            this.Scolor = "#4CAF50";
                            this.snackbar = true;
                            this.initialize();
                        }
                        this.initialize()
                    })
                    .catch(error => {
                        if (error.response) {
                            this.snackbar = true;
                            this.mensaje = "Ups, Hubo un problema al modificar, intenta otra vez";
                            this.Scolor = "#FF5252";
                        }
                    });
            }

        },

        saveDate(a) {
            if (a.fecha.length != 19) {
                this.mensaje = "Formato invalido";
                this.Scolor = "#FF9D00";
                this.snackbar = true;
            } else {
                try {
                    this.editedIndex = this.citas.indexOf(a);
                    this.editedItem.horario_id = a.horario_id;
                    const fecha = new Date(a.fecha).toISOString().slice(0, 10);
                    const hora = new Date(a.fecha).toLocaleTimeString();
                    const fecha_F = fecha + " " + hora;
                    let formDataHr = new FormData();
                    formDataHr.append("id", this.editedItem.horario_id);
                    formDataHr.append("fecha", fecha_F);
                    axios
                        .post("/api/updatefecha", formDataHr, {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        })
                        .then(response => {
                            if (response.status === 200) {
                                this.mensaje = "Modificación exitosa";
                                this.Scolor = "#4CAF50";
                                this.snackbar = true;
                                this.initialize();
                            }
                            this.initialize()
                        })
                        .catch(error => {
                            if (error.response) {
                                this.snackbar = true;
                                this.mensaje = "Ups, Hubo un problema al modificar, intenta otra vez";
                                this.Scolor = "#FF5252";
                            }
                        });
                } catch (err) {
                    this.mensaje = "Formato invalido";
                    this.Scolor = "#FF9D00";
                    this.snackbar = true;
                }
            }

        },

        save() {
            if (this.editedIndex > -1) {
                let formData = new FormData();
                formData.append("id", this.editedItem.id);
                formData.append("horario_act", this.editedItem.horario_id);
                //comprobar selección de v-autocomplete (v-select) para cliente
                if (typeof this.editedItem.cliente == 'object') {
                    formData.append("cliente_id", this.editedItem.cliente.id);
                } else {
                    formData.append("cliente_id", this.editedItem.cliente);
                }
                //comprobar selección de v-autocomplete (v-select) para horario
                if (typeof this.editedItem.fechaD == 'object') {
                    formData.append("horario_id", this.editedItem.fechaD.id);
                } else {
                    formData.append("horario_id", this.editedItem.fechaD);
                }
                //comprobar selección de v-autocomplete (v-select) para servicio
                if (typeof this.editedItem.servicio == 'object') {
                    formData.append("servicio_id", this.editedItem.servicio.id);
                } else {
                    formData.append("servicio_id", this.editedItem.servicio);
                }
                //comprobar selección de v-autocomplete (v-select) para codigo
                if (typeof this.editedItem.codigo == 'object') {
                    if (this.editedItem.codigo == null) {
                        formData.append("codigo_id", null);
                    } else {
                        formData.append("codigo_id", this.editedItem.codigo.id);
                    }
                } else {
                    formData.append("codigo_id", this.editedItem.codigo);
                }

                axios
                    .post("/api/putcita", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                    .then(response => {
                        if (response.status === 200) {
                            this.initialize();
                            this.snackbar = true;
                            this.mensaje = "Modificación exitosa";
                            this.Scolor = "#4CAF50";
                        }
                    })
                    .catch(error => {
                        if (error.response) {
                            this.snackbar = true;
                            this.mensaje =
                                "Ups, Hubo un problema al modificar, revisa los campos";
                            this.Scolor = "#FF5252";
                        }
                    });

            } else {
                let formData = new FormData();
                formData.append("horario_id", this.editedItem.fechaD.id);
                formData.append("cliente_id", this.editedItem.cliente.id);
                formData.append("servicio_id", this.editedItem.servicio.id);
                formData.append("codigo_id", this.editedItem.codigo.id);
                axios
                    .post("/api/postcita", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                    .then(response => {
                        if (response.status === 200) {
                            this.initialize();
                            this.snackbar = true;
                            this.Scolor = "#4CAF50";
                            this.mensaje = "Agregado con éxito";
                        }
                    })
                    .catch(error => {
                        if (error.response) {
                            this.snackbar = true;
                            this.mensaje =
                                "Ups, Hubo un problema al agregar, intenta otra vez";
                            this.Scolor = "#FF5252";
                        }
                    });
            }
            this.close();
        }
    }
};
</script>
