<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <v-data-table :headers="headers" :items="clientes" sort-by="id" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Clientes</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn class="mx-2" fab dark small color="#3ac5d4" v-bind="attrs" v-on="on">
                                <v-icon dark>
                                    mdi-plus
                                </v-icon>
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.nombre" label="Nombre"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.correo" label="Correo" :rules="[rules.email]"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.tel" label="Tel" type="number"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-select :items="items" v-model="editedItem.state" label="Estado"></v-select>
                                        </v-col>

                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="comprobarItems">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">¿Eliminar este elemento?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip v-if="item.state=='open'" color="#4CAF50"> Activo</v-chip>
                <v-chip v-else color="#FF5252"> Inactivo</v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <span>No hay datos disponibles</span>
                <br>
                <br>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
        <template>
            <v-snackbar v-model="snackbar" :timeout="timeout" :color="Scolor">
                {{ mensaje }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </template>
    </div>
</div>
</template>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<script>
import axios from "axios";
export default {
    data: () => ({
        search: "",
        dialog: false,
        dialogDelete: false,
        snackbar: false,
        mensaje: '',
        Scolor: '',
        timeout: 2500,
        items: [{
                text: 'Activo',
                value: 'open'
            },
            {
                text: 'Inactivo',
                value: 'close'
            }
        ],
        headers: [{
                text: 'ID',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            {
                text: 'Nombre',
                value: 'nombre'
            },
            {
                text: 'Correo',
                value: 'correo'
            },
            {
                text: 'Tel',
                value: 'tel'
            },
            {
                text: 'Estado',
                value: 'state'
            },
            {
                text: 'Opciones',
                value: 'actions',
                sortable: false
            },
        ],
        clientes: [],
        rules: {email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'E-mail invalido.'
          },},
        editedIndex: -1,
        editedItem: {
            nombre: "",
            correo: "",
            tel: "",
            state: ""
        },
        defaultItem: {
            nombre: "",
            correo: "",
            tel: "",
            state: ""
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Nuevo cliente' : 'Editar cliente'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            axios.get("/api/getclientes")
                .then((response) => (this.clientes = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });
        },
        comprobarItems() {
            if (this.editedItem.nombre === '' || this.editedItem.correo === '' ||
                this.editedItem.tel === '' || this.editedItem.state === '') {
                this.snackbar = true
                this.Scolor = '#FF9D00'
                this.mensaje = 'Hay campos vacios'
            } else {
                this.save();
            }

        },
        editItem(item) {
            this.editedIndex = this.clientes.indexOf(item)
            this.editedItem.id = item.id
            this.editedItem.nombre = item.nombre
            this.editedItem.correo = item.correo
            this.editedItem.tel = item.tel
            this.editedItem.state = item.state
            console.log(item)
            this.dialog = true
        },

        deleteItem(item) {
            this.editedIndex = this.clientes.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.clientes.splice(this.editedIndex, 1)
            let formData = new FormData();
            formData.append('id', this.editedItem.id);
            axios.post('/api/deletecliente', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        this.snackbar = true
                        this.Scolor = '#4CAF50'
                        this.mensaje = 'Eliminación exitosa'
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        this.snackbar = true
                        this.mensaje = 'Ups, Hubo un problema al eliminar'
                        this.Scolor = '#FF5252'
                    }
                });
            this.closeDelete()
        },
        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {

            if (this.editedIndex > -1) {
                let formData = new FormData();
                var fecha_final = this.editedItem.fecha + ' ' + this.editedItem.hora
                formData.append("id", this.editedItem.id);
                formData.append("nombre", this.editedItem.nombre);
                formData.append("correo", this.editedItem.correo);
                formData.append("tel", this.editedItem.tel);
                formData.append("state", this.editedItem.state);
                axios
                    .post("/api/putcliente", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.snackbar = true
                            this.mensaje = 'Modificación exitosa'
                            this.Scolor = '#4CAF50'
                        }
                    }, this.initialize())
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al modificar, revisa los campos'
                            this.Scolor = '#FF5252'
                        }
                    });
            } else {
                let formData = new FormData();
                var fecha_final = this.editedItem.fecha + ' ' + this.editedItem.hora
                formData.append("nombre", this.editedItem.nombre);
                formData.append("correo", this.editedItem.correo);
                formData.append("tel", this.editedItem.tel);
                formData.append("state", this.editedItem.state);
                axios
                    .post("/api/postcliente", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.snackbar = true
                            this.Scolor = '#4CAF50'
                            this.mensaje = 'Agregado con éxito'
                        }
                    }, this.initialize())
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al agregar, intenta otra vez'
                            this.Scolor = '#FF5252'
                        }
                    });
            }
            this.close();
        },
    },
}
</script>
