<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <v-data-table :headers="headers" :items="promociones" sort-by="calories" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Promociones</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn class="mx-2" fab dark small color="#3ac5d4" v-bind="attrs" v-on="on">
                                <v-icon dark>
                                    mdi-plus
                                </v-icon>
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.descripcion" label="Descripción"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.descuento" label="Descuento" type="number"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.precio" label="Precio" type="number"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-menu v-model="menu" :close-on-content-click="false" transition="scale-transition" offset-y min-width="auto">
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-model="editedItem.fecha_inicio" label="Fecha de Inicio" readonly v-on="on" type="date"></v-text-field>
                                                </template>
                                                <v-date-picker scrollable v-model="editedItem.fecha_inicio" color="#4CAF50" no-title @change="menu = false"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-menu v-model="menu2" :close-on-content-click="false" transition="scale-transition" offset-y min-width="auto">
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-model="editedItem.fecha_fin" label="Fecha de vencimiento" readonly v-on="on" type="date"></v-text-field>
                                                </template>
                                                <v-date-picker scrollable v-model="editedItem.fecha_fin" color="#FF5252" no-title @change="menu2 = false"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-autocomplete v-model="editedItem.servicio" :items="servicios_cat" item-value="id" item-text="servicios" return-object label="Servicio"></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-select :items="items" v-model="editedItem.state" label="Estado"></v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="comprobarItems">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">¿Eliminar este elemento?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip elevation="2" rounded small v-if="item.state=='open'" color="#4CAF50">Activa</v-chip>
                <v-chip elevation="2" rounded small v-else-if="item.state=='close'" color="#FF5252">Inactiva</v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <span>No hay datos disponibles</span>
                <br>
                <br>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
        <template>
            <v-snackbar v-model="snackbar" :timeout="timeout" :color="Scolor">
                {{ mensaje }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </template>
    </div>
</div>
</template>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<script>
import axios from "axios";
export default {
    data: () => ({
        search: "",
        dialog: false,
        dialogDelete: false,
        menu: false,
        modal: false,
        modal2: false,
        menu2: false,
        snackbar: false,
        mensaje: '',
        Scolor: '',
        timeout: 2500,
        servicios_cat: [],
        items: [{
                text: 'Activa',
                value: 'open'
            },
            {
                text: 'Inactiva',
                value: 'close'
            },
        ],
        headers: [{
                text: 'ID',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            {
                text: 'Descripcion',
                value: 'descripcion'
            },
            {
                text: 'Descuento',
                value: 'descuento'
            },
            {
                text: 'Precio',
                value: 'precio'
            },
            {
                text: 'Servicio',
                value: 'nombre_servicio'
            },
            {
                text: 'Fecha inicio',
                value: 'fecha_inicio'
            },
            {
                text: 'Fecha fin',
                value: 'fecha_fin'
            },
            {
                text: 'Estado',
                value: 'state'
            },
            {
                text: 'Opciones',
                value: 'actions',
                sortable: false
            },
        ],
        promociones: [],
        editedIndex: -1,
        editedItem: {
            fecha_inicio: '',
            fecha_fin: "",
            precio: "",
            servicio: "",
            nombre_servicio: "",
            servicio_id: "",
            descripcion: "",
            descuento: "",
            state: "",
        },
        defaultItem: {
            fecha_inicio: '',
            fecha_fin: "",
            precio: "",
            servicio: "",
            nombre_servicio: "",
            servicio_id: "",
            descripcion: "",
            descuento: "",
            state: "",
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Nueva promoción' : 'Editar promoción'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            axios.get("/api/getpromos")
                .then((response) => (this.promociones = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });
            axios.get("/api/getservicios")
                .then((response) => (response.data.data.forEach(this.set_servicio)))
                .catch(function (error) {
                    console.log(error)
                });
        },
        set_servicio(element) {
            this.servicios_cat.push({
                id: element.id,
                servicios: String(element.nombre),
            })
        },

        comprobarItems() {
            if (this.editedItem.descripcion === '' || this.editedItem.descuento === '' ||
                this.editedItem.precio === '' || this.editedItem.servicio === ''|| this.editedItem.fecha_inicio === '' ||
                this.editedItem.fecha_fin === '' || this.editedItem.state === '') {
                this.snackbar = true
                this.Scolor = '#FF9D00'
                this.mensaje = 'Hay campos vacios'
            } else {
                this.save();
            }

        },

        editItem(item) {
            this.editedIndex = this.promociones.indexOf(item)
            this.editedItem.fecha_inicio = item.fecha_inicio
            this.editedItem.fecha_fin = item.fecha_fin
            this.editedItem.precio = item.precio
            this.editedItem.servicio = item.servicio_id
            this.editedItem.descripcion = item.descripcion
            this.editedItem.descuento = item.descuento
            this.editedItem.state = item.state
            this.editedItem.id = item.id
            this.dialog = true
        },

        deleteItem(item) {
            this.editedIndex = this.promociones.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.promociones.splice(this.editedIndex, 1)
            let formData = new FormData();
            formData.append('id', this.editedItem.id);
            axios.post('/api/deletepromociones', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        this.snackbar = true
                        this.Scolor = '#4CAF50'
                        this.mensaje = 'Eliminación exitosa'
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        this.snackbar = true
                        this.mensaje = 'Ups, Hubo un problema al eliminar'
                        this.Scolor = '#FF5252'
                    }
                });
            this.closeDelete()
        },

        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                let formData = new FormData();
                formData.append("id", this.editedItem.id);
                formData.append("fecha_inicio", this.editedItem.fecha_inicio);
                formData.append("fecha_fin", this.editedItem.fecha_fin);
                formData.append("precio", this.editedItem.precio);
                formData.append("servicio_id", this.editedItem.servicio.id);
                formData.append("descripcion", this.editedItem.descripcion);
                formData.append("descuento", this.editedItem.descuento);
                formData.append("state", this.editedItem.state);
                axios
                    .post("/api/putpromociones", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.snackbar = true
                            this.mensaje = 'Modificación exitosa'
                            this.Scolor = '#4CAF50'
                        }
                    }, this.initialize())
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al modificar, revisa los campos'
                            this.Scolor = '#FF5252'
                        }
                    });
            } else {
                let formData = new FormData();
                formData.append("fecha_inicio", this.editedItem.fecha_inicio);
                formData.append("fecha_fin", this.editedItem.fecha_fin);
                formData.append("precio", this.editedItem.precio);
                formData.append("descripcion", this.editedItem.descripcion);
                formData.append("descuento", this.editedItem.descuento);
                formData.append("servicio_id", this.editedItem.servicio.id);
                formData.append("state", this.editedItem.state);
                axios
                    .post("/api/postpromociones", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.snackbar = true
                            this.Scolor = '#4CAF50'
                            this.mensaje = 'Agregado con éxito'
                        }
                    }, this.initialize())
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al agregar, intenta otra vez'
                            this.Scolor = '#FF5252'
                        }
                    });
            }
            this.close();
        },
    },
}
</script>
