<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <v-data-table :headers="headers" :items="ubicaciones" sort-by="id" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Ubicaciones agendadas</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn class="mx-2" fab dark small color="#3ac5d4" v-bind="attrs" v-on="on">
                                <v-icon dark>
                                    mdi-plus
                                </v-icon>
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.estado" label="Estado"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.ciudad" label="Ciudad"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.colonia" label="Colonia"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.calle" label="Calle"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.cp" label="C.P" type="number"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.numero" label="Número"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field v-model="editedItem.maps" label="Ubicación en Maps" prepend-inner-icon="mdi-map-marker"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-select :items="items" v-model="editedItem.state" label="Estatus"></v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="comprobarItems">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">¿Eliminar este elemento?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip v-if="item.state=='open'" color="#4CAF50"> Activo</v-chip>
                <v-chip v-else color="#FF5252"> Inactivo</v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <span>No hay datos disponibles</span>
                <br>
                <br>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
            </template>
            <template v-slot:item.maps="{ item }">
                <a target="_blank" :href="item.maps"> {{item.maps}}</a>
            </template>
        </v-data-table>
        <template>
            <v-snackbar v-model="snackbar" :timeout="timeout" :color="Scolor">
                {{ mensaje }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
        </template>
    </div>
</div>
</template>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<script>
import axios from "axios";
export default {
    data: () => ({
        search: "",
        dialog: false,
        dialogDelete: false,
        snackbar: false,
        mensaje: '',
        Scolor: '',
        timeout: 2500,
        items: [{
                text: 'Activo',
                value: 'open'
            },
            {
                text: 'Inactivo',
                value: 'close'
            }
        ],
        headers: [{
                text: 'ID',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            {
                text: 'Estado',
                value: 'estado'
            },
            {
                text: 'Ciudad',
                value: 'ciudad'
            },
            {
                text: 'Colonia',
                value: 'colonia'
            },
            {
                text: 'Calle',
                value: 'calle'
            },
            {
                text: 'C.P:',
                value: 'cp'
            },
            {
                text: 'Numero',
                value: 'numero'
            },
            {
                text: 'Ubicación en Maps',
                value: 'maps'
            },
            {
                text: 'Estatus',
                value: 'state'
            },
            {
                text: 'Opciones',
                value: 'actions',
                sortable: false
            },
        ],
        ubicaciones: [],
        editedIndex: -1,
        editedItem: {
            ciudad: '',
            colonia: "",
            calle: "",
            cp: "",
            numero: "",
            state: "",
            estado: "",
        },
        defaultItem: {
            ciudad: '',
            colonia: "",
            calle: "",
            cp: "",
            numero: "",
            state: "",
            estado: "",
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Nueva ubicación' : 'Editar ubicación'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            axios.get("/api/getubicaciones")
                .then((response) => (this.ubicaciones = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });
        },

        comprobarItems() {
            if (this.editedItem.estado === '' || this.editedItem.ciudad === '' ||
                this.editedItem.colonia === '' || this.editedItem.calle === '' ||
                this.editedItem.cp === '' || this.editedItem.numero === '' ||
                this.editedItem.maps === '' || this.editedItem.state === '') {
                this.snackbar = true
                this.Scolor = '#FF9D00'
                this.mensaje = 'Hay campos vacios'
            } else {
                this.save();
            }

        },

        editItem(item) {
            this.editedIndex = this.ubicaciones.indexOf(item)
            this.editedItem.id = item.id
            this.editedItem.calle = item.calle
            this.editedItem.colonia = item.colonia
            this.editedItem.ciudad = item.ciudad
            this.editedItem.cp = item.cp
            this.editedItem.numero = item.numero
            this.editedItem.maps = item.maps
            this.editedItem.estado = item.estado
            this.editedItem.state = item.state
            console.log(item)
            this.dialog = true
        },

        deleteItem(item) {
            this.editedIndex = this.ubicaciones.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.ubicaciones.splice(this.editedIndex, 1)
            let formData = new FormData();
            formData.append('id', this.editedItem.id);
            axios.post('/api/deleteubicaciones', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    console.log(response.status)
                    if (response.status === 200) {
                        this.snackbar = true
                        this.Scolor = '#4CAF50'
                        this.mensaje = 'Eliminación exitosa'
                    }
                })
                .catch((error) => {
                    if (error.response) {
                        this.snackbar = true
                        this.mensaje = 'Ups, Hubo un problema al eliminar'
                        this.Scolor = '#FF5252'
                    }
                });
            this.closeDelete()

        },

        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                let formData = new FormData();
                formData.append("id", this.editedItem.id);
                formData.append("estado", this.editedItem.estado);
                formData.append("ciudad", this.editedItem.ciudad);
                formData.append("colonia", this.editedItem.colonia);
                formData.append("calle", this.editedItem.calle);
                formData.append("cp", this.editedItem.cp);
                formData.append("numero", this.editedItem.numero);
                formData.append("maps", this.editedItem.maps);
                formData.append("state", this.editedItem.state);
                axios
                    .post("/api/putubicaciones", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.snackbar = true
                            this.mensaje = 'Modificación exitosa'
                            this.Scolor = '#4CAF50'
                        }
                    }, this.initialize())
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al modificar, revisa los campos'
                            this.Scolor = '#FF5252'
                        }
                    });
            } else {

                let formData = new FormData();
                formData.append("estado", this.editedItem.estado);
                formData.append("ciudad", this.editedItem.ciudad);
                formData.append("colonia", this.editedItem.colonia);
                formData.append("calle", this.editedItem.calle);
                formData.append("cp", this.editedItem.cp);
                formData.append("numero", this.editedItem.numero);
                formData.append("maps", this.editedItem.maps);
                formData.append("state", this.editedItem.state);
                axios
                    .post("/api/postubicaciones", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((response) => {
                        console.log(response.status)
                        if (response.status === 200) {
                            this.snackbar = true
                            this.Scolor = '#4CAF50'
                            this.mensaje = 'Agregado con éxito'
                        }
                    }, this.initialize())
                    .catch((error) => {
                        if (error.response) {
                            this.snackbar = true
                            this.mensaje = 'Ups, Hubo un problema al agregar, intenta otra vez'
                            this.Scolor = '#FF5252'
                        }
                    });
            }
            this.close();
        },
    },
}
</script>
