<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <v-data-table :headers="headers" :items="citas" sort-by="calories" class="elevation-1" :search="search">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Citas agendadas</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar" single-line hide-details></v-text-field>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn class="mx-2" fab dark small color="#3ac5d4" v-bind="attrs" v-on="on">
                                <v-icon dark>
                                    mdi-plus
                                </v-icon>
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">
                                    Cancel
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="save">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.state="{ item }">
                <v-chip :color="item.color"> {{ item.state }} </v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon color="#FF5252" small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="#2b81d6" @click="initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>
    </div>
</div>
</template>

<script>
import axios from "axios";
export default {
    data: () => ({
        search: "",
        dialog: false,
        dialogDelete: false,
        headers: [{
                text: 'Folio',
                align: 'start',
                sortable: false,
                value: 'folio',
            },
            {
                text: 'Nombre',
                value: 'nombre'
            },
            {
                text: 'Correo',
                value: 'correo'
            },
            {
                text: 'Tel',
                value: 'tel'
            },
            {
                text: 'Fecha',
                value: 'fecha'
            },
            {
                text: 'Estado',
                value: 'state'
            },
            {
                text: 'Opciones',
                value: 'actions',
                sortable: false
            },
        ],
        citas: [],
        editedIndex: -1,
        editedItem: {
            name: '',
            calories: 0,
            fat: 0,
            carbs: 0,
            protein: 0,
        },
        defaultItem: {
            name: '',
            calories: 0,
            fat: 0,
            carbs: 0,
            protein: 0,
        },
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
        },
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        dialogDelete(val) {
            val || this.closeDelete()
        },
    },

    created() {
        this.initialize()
    },

    methods: {
        initialize() {
            axios.get("/api/getcitasadmin")
                .then((response) => (response.data.data.forEach(this.set_citas)))
                .catch(function (error) {
                    console.log(error);
                });
        },
        set_citas(element, index) {
            var status = ''
            var color = ''
            var descripcion = ''
            if (element.state == 'draft') {
                status = 'Pendiente'
                color = '#FF9D00'
                descripcion = 'Es necesario realizar el pago para que tu cita se confirme, recuerda solo cuentas con 24 horas para realizar tu pago, de lo contrario la fecha será liberada y tendrás que volver a registrar otra fecha.  '
            } else if (element.state == 'paid') {
                status = 'Confirmada'
                color = '#1FAD00'
                descripcion = '#FF9D00'
            } else if (element.state == 'cancel') {
                status = 'Cancelada'
                color = '#FF1500'
                descripcion = 'Tu cita ha sido cancelada por falta de pago o por solicitud de cancelación. '
            }
            this.citas.push({
                nombre: element.nombre,
                correo: element.correo,
                tel: element.tel,
                cliente_id: element.cliente_id,
                horario_id: element.horario_id,
                id: element.id,
                folio: element.folio,
                state: status,
                fecha: element.fecha,
                color: color,
                descripcion: descripcion,
                calle: element.calle,
                colonia: element.colonia,
                ciudad: element.ciudad,
                estado: element.estado,
                maps: element.maps,
            })
        },

        editItem(item) {
            this.editedIndex = this.citas.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },

        deleteItem(item) {
            this.editedIndex = this.citas.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },

        deleteItemConfirm() {
            this.citas.splice(this.editedIndex, 1)
            this.closeDelete()
        },

        close() {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        closeDelete() {
            this.dialogDelete = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
        },

        save() {
            if (this.editedIndex > -1) {
                Object.assign(this.citas[this.editedIndex], this.editedItem)
            } else {
                this.citas.push(this.editedItem)
            }
            this.close()
        },
    },
}
</script>
