<template>
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" v-show="state_login">
                <div class="discount__pic">
                    <v-card class="mx-auto">
                        <v-container>
                            <v-row dense>
                                <v-card color="#fbe3d7" :loading="isUpdating">
                                    <template v-slot:progress>
                                        <v-progress-linear absolute color="green lighten-3" height="4" indeterminate></v-progress-linear>
                                    </template>
                                    <v-row>
                                        <v-col class="text-right" cols="12">

                                        </v-col>
                                        <v-row class="pa-4" align="center" justify="center">
                                            <v-col class="text-center">
                                                <h3 class="headline">
                                                    Únete
                                                </h3>
                                                <span class="grey--text text--lighten-1">Registrarse para obtener una cita </span>
                                            </v-col>
                                        </v-row>
                                    </v-row>
                                    <v-form ref="form" v-model="valid">
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" md="6">
                                                    <v-text-field v-model="name" filled color="blue-grey lighten-2" label="* Nombre completo" :rules="rules" required></v-text-field>
                                                </v-col>
                                                <v-col cols="12" md="6">
                                                    <v-text-field v-model="email" filled color="blue-grey lighten-2" label="* Correo electrónico" :rules="emailRules" required></v-text-field>
                                                </v-col>
                                                <v-col cols="12" md="6">
                                                    <v-text-field v-model="tel" type="number" filled color="blue-grey lighten-2" label="* Tel." :rules="rules" required></v-text-field>
                                                </v-col>
                                                <v-col cols="12" md="6">
                                                    <v-text-field v-model="password" color="blue-grey lighten-2" filled :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'" :rules="passwordRules" required :type="show3 ? 'text' : 'password'" label="* Contraseña" @click:append="show3 = !show3"></v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                        <small>* Indica campo requerido</small>
                                        <v-divider></v-divider>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn :disabled="!valid" :loading="isUpdating" color="#3ac5d4" depressed @click="register_user">
                                                Continuar
                                            </v-btn>
                                        </v-card-actions>
                                    </v-form>
                                </v-card>
                            </v-row>
                        </v-container>
                    </v-card>
                </div>
            </div>

            <div class="col-lg-10" v-show="!state_login">
                <v-row class="fill-height">
                    <v-col>
                        <v-badge bordered color="#3ac5d4" :content="num_citas" overlap>
                            <v-btn @click="ir_miscitas" class="white--text" color="#3ac5d4" depressed>
                                Mis citas
                            </v-btn>
                        </v-badge>
                        <v-sheet height="64">
                            <v-toolbar flat>
                                <v-btn fab text small color="grey darken-2" @click="prev">
                                    <v-icon small>
                                        mdi-chevron-left
                                    </v-icon>
                                </v-btn>
                                <v-btn fab text small color="grey darken-2" @click="next">
                                    <v-icon small>
                                        mdi-chevron-right
                                    </v-icon>
                                </v-btn>
                                <v-toolbar-title v-if="$refs.calendar">
                                    {{ $refs.calendar.title }}
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-menu bottom right>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                                            <span>{{ typeToLabel[type] }}</span>
                                            <v-icon right>
                                                mdi-menu-down
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <v-list>
                                        <v-list-item @click="type = 'day'">
                                            <v-list-item-title>Día</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item @click="type = 'week'">
                                            <v-list-item-title>Semana</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item @click="type = 'month'">
                                            <v-list-item-title>Mes</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item @click="type = '4day'">
                                            <v-list-item-title>4 Días</v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </v-toolbar>
                        </v-sheet>
                        <v-sheet height="600">
                            <v-calendar ref="calendar" v-model="focus" color="#3ac5d4" :events="events" :event-color="getEventColor" :type="type" @click:event="showEvent" @click:more="viewDay" @click:date="viewDay">
                            </v-calendar>
                            <v-menu v-model="selectedOpen" :close-on-content-click="false" @click="e1 = 1" :activator="selectedElement" offset-x>
                                <v-card color="#fffff" max-width="600px" flat>
                                    <v-toolbar :color="selectedEvent.color" dark>
                                        <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                                        <v-spacer></v-spacer>
                                    </v-toolbar>
                                    <v-stepper v-model="e1">
                                        <v-stepper-header>
                                            <v-stepper-step color="#3ac5d4" :complete="e1 > 1" step="1">
                                                Registrar
                                            </v-stepper-step>
                                            <v-divider color="#3ac5d4"></v-divider>
                                            <v-stepper-step color="#3ac5d4" :complete="e1 > 2" step="2">
                                                Asunto
                                            </v-stepper-step>
                                            <v-stepper-step color="#3ac5d4" :complete="e1 > 3" step="3">
                                                Confirmar
                                            </v-stepper-step>
                                        </v-stepper-header>
                                        <v-stepper-items>
                                            <loading :active="isLoading" :is-full-page="true" />
                                            <v-stepper-content step="1">
                                                <v-card>
                                                    {{ selectedEvent.calle }}, {{ selectedEvent.colonia }},
                                                    {{ selectedEvent.ciudad }}, {{ selectedEvent.estado }}
                                                    <v-spacer></v-spacer>
                                                    <a target="_blank" :href="selectedEvent.maps">Ver en el mapa</a>
                                                    <v-text-field v-model="selectedEvent.fecha" label="Fecha" disabled></v-text-field>
                                                    <v-text-field v-model="selectedEvent.name" label="Hora" disabled></v-text-field>
                                                    <v-text-field v-model="selectedEvent.codigo" label="Código de descuento"></v-text-field>
                                                    <v-btn small outlined color="#38c172" @click="validate_code(selectedEvent)">
                                                        Continuar
                                                    </v-btn>
                                                    <v-btn text small color="#ff0000" @click="selectedOpen = false,e1 = 1">
                                                        Cancelar
                                                    </v-btn>
                                                </v-card>
                                            </v-stepper-content>
                                            <v-stepper-content step="2">
                                                <v-card>

                                                    <v-autocomplete ref="country" v-model="selectedEvent.servicio" :items="cat_servicios" return-object item-text="nombre" item-value="id" label="Selecciona tu servicio" required></v-autocomplete>
                                                    <v-spacer></v-spacer>
                                                    <v-btn color="#38c172" small outlined depressed :disabled="!selectedEvent.servicio" @click="e1=3">
                                                        Continuar
                                                    </v-btn>
                                                    <v-btn class="mx-2" fab text small color="#ff0000" @click="e1 = 1">
                                                        <v-icon dark>
                                                            mdi-arrow-left
                                                        </v-icon>
                                                    </v-btn>
                                                    <v-btn text small color="#ff0000" @click="e1 = 1">
                                                        Regresar
                                                    </v-btn>
                                                </v-card>
                                            </v-stepper-content>
                                            <v-stepper-content step="3">
                                                <v-card>

                                                    Recuerda que las citas son confirmadas por el administrador de este sitio. Te enviaremos la información necesaria para tu cita.
                                                    <v-spacer></v-spacer>
                                                    <v-btn color="#38c172" small outlined depressed @click="create_cita(selectedEvent)">
                                                        Continuar
                                                    </v-btn>
                                                    <v-btn class="mx-2" fab text small color="#ff0000" @click="e1 = 2">
                                                        <v-icon dark>
                                                            mdi-arrow-left
                                                        </v-icon>
                                                    </v-btn>
                                                    <v-btn text small color="#ff0000" @click="selectedOpen = false,e1 = 1">
                                                        Cancelar
                                                    </v-btn>
                                                </v-card>
                                            </v-stepper-content>

                                        </v-stepper-items>
                                    </v-stepper>

                                </v-card>
                            </v-menu>
                        </v-sheet>
                    </v-col>
                </v-row>
            </div>
            <v-snackbar color="#ff0000" dark v-model="snackbar" timeout="10000">
                {{ text_error }}

                <template v-slot:action="{ attrs }">
                    <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
                        x
                    </v-btn>
                </template>
            </v-snackbar>
            <div class="col-lg-6" v-show="state_login">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2>Summer 2019</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
    <v-dialog v-model="dialog_error" max-width="290">
        <v-card>
            <v-card-title class="headline">
                Use Google's location service?
            </v-card-title>

            <v-card-text>
                Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text @click="dialog_error = false">
                    Disagree
                </v-btn>

                <v-btn color="green darken-1" text @click="dialog_error = false">
                    Agree
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    <v-snackbar dark color="#e82020" v-model="snackbar_error" :multiLine="multiLine">
        {{ text_error }}
    </v-snackbar>

</section>
</template>

<script>
import axios from "axios";
import es from "../../lang"
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    data() {
        return {
            state_cli: [],
            id_codigo: null,
            snackbar_error: false,
            text_error: '',
            multiLine: false,
            snackbar: false,
            text_error: '',
            state_login: false,
            dialog_error: false,
            valid: false,
            autoUpdate: true,
            isUpdating: false,
            name: '',
            email: '',
            tel: '',
            password: '',
            show1: false,
            show2: true,
            show3: false,
            show4: false,
            cat_servicios: [],
            rules: [
                v => !!v || 'Campo requerido'
            ],
            emailRules: [
                v => !!v || 'Correo electronico es requerido',
                v => /.+@.+/.test(v) || 'El email debe ser válido'
            ],
            passwordRules: [
                v => !!v || 'Contraseña requerida',
                v => v.length >= 10 || 'La contraseña debe tener al menos de 8 caracteres'
            ],
            focus: '',
            type: 'month',
            typeToLabel: {
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                '4day': '4 Días',
            },
            selectedEvent: {
                maps: '',
                fecha: '',
                name: '',
                codigo: '',
                calle: '',
                colonia: '',
                estado: '',
                ciudad: '',
                servicio: '',
            },
            selectedElement: null,
            selectedOpen: false,
            events: [],
            colors: ['blue', 'indigo', 'deep-purple', 'cyan', '#38c172', 'orange', 'grey darken-1'],
            names: ['Disponible', 'Apartado', 'Ocupado', ],
            horarios_disponibles: [],
            e1: 1,
            num_citas: 0,
            isLoading: false,
            true: false
        }
    },
    components: {
        Loading
    },
    watch: {
        isUpdating(val) {

        },
        isLoading(val) {

        },
    },
    created() {
        this.set_vareables()
        this.get_dias_disponibles()
        this.get_mis_citas()
        this.validate_timer()
        this.get_servicios()
    },
    mounted() {
        this.$refs.calendar.checkChange()
    },
    methods: {
        set_vareables() {
            var localva = localStorage.getItem("cliente")
            if (localva) {
                var cli = JSON.parse(localStorage.getItem("cliente"))
                if (cli) {
                    this.state_login = false
                } else {
                    this.state_login = true
                }
            } else {
                this.show_name = false
                this.state_login = true
            }
        },
        register_user() {
            this.isUpdating = true
            let formData = new FormData();
            formData.append('nombre', this.name);
            formData.append('correo', this.email);
            formData.append('tel', this.tel);
            formData.append('password', this.password);
            axios.post("/api/postcliente", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((response) => (this.response_register_cli(response.data)))
                .catch(function (error) {
                    console.log(error);
                });

        },
        reset() {
            this.$refs.form.reset()
        },
        response_register_cli(data) {
            this.isUpdating = false
            var cli = JSON.stringify(data.data)
            if (cli) {
                localStorage.setItem("cliente", cli)
                location.reload();
            } else {
                this.name = null
                this.email = null
                this.tel = null
                this.password = ''
            }
        },
        get_dias_disponibles() {
            this.events = []
            axios.get("/api/gethorariosdisponibles")
                .then((response) => (this.set_eventos(response.data.data)))
                .catch(function (error) {
                    console.log(error);
                });

        },
        get_servicios() {
            this.events = []
            axios.get("/api/getcatservicios")
                .then((response) => (this.cat_servicios = response.data.data))
                .catch(function (error) {
                    console.log(error);
                });

        },
        response_servicios(object) {

        },
        validate_timer() {
            var localva = localStorage.getItem("cliente")
            if (localva) {
                setInterval(() => {
                    this.get_dias_disponibles()
                    this.get_servicios()
                }, 60000);
            }
        },
        viewDay({
            date
        }) {
            this.focus = date
            this.type = 'day'
        },
        getEventColor(event) {
            return event.color
        },
        prev() {
            this.$refs.calendar.prev()
        },
        next() {
            this.$refs.calendar.next()
        },
        showEvent({
            nativeEvent,
            event
        }) {
            const open = () => {
                this.selectedEvent = event
                this.selectedElement = nativeEvent.target
                setTimeout(() => {
                    this.selectedOpen = true
                    this.e1 = 1
                }, 10)
            }

            if (this.selectedOpen) {
                this.selectedOpen = false
                setTimeout(open, 10)
            } else {
                open()
            }

            nativeEvent.stopPropagation()
        },
        set_eventos(object) {
            const items = []
            for (const property in object) {
                var valuedes = object[property];
                const fecha = new Date(valuedes.fecha)
                const options = {
                    weekday: 'long',
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                }
                items.push({
                    name: String(fecha.toLocaleTimeString('es-US', )),
                    fecha: String(fecha.toLocaleDateString('es-ES', options)),
                    start: fecha,
                    horario_id: valuedes.id,
                    calle: valuedes.calle,
                    colonia: valuedes.colonia,
                    ciudad: valuedes.ciudad,
                    estado: valuedes.estado,
                    maps: valuedes.maps,
                    color: '#38c172',
                })

            }
            this.events = items

        },
        set_horaios(element, index) {

            const fecha = new Date(element.fecha)
            const options = {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            };

            this.events.push({
                name: String(fecha.toLocaleTimeString('es-US', )),
                fecha: String(fecha.toLocaleDateString('es-ES', options)),
                start: fecha,
                horario_id: element.id,
                calle: element.calle,
                colonia: element.colonia,
                ciudad: element.ciudad,
                estado: element.estado,
                maps: element.maps,
                color: '#38c172',
            })
        },
        create_cita(horario_id) {
            this.isLoading = true
            var localva = localStorage.getItem("cliente")
            if (localva) {
                var cli = JSON.parse(localva)
                if (cli) {
                    if (cli.id != null) {
                        let formData = new FormData();
                        formData.append('horario_id', horario_id.horario_id);
                        formData.append('codigo', horario_id.codigo);
                        formData.append('codigo_id', this.id_codigo);
                        formData.append('cliente_id', cli.id);
                        formData.append('servicio_id', horario_id.servicio.id);
                        console.log(horario_id)
                        var vue = this
                        axios.post("/api/postcita", formData, {
                                headers: {
                                    "Content-Type": "multipart/form-data",
                                },
                            })
                            .then((response) => (this.response_create_cli(response.data)))
                            .catch(function (error) {
                                console.log(error);
                                if (error.response) {
                                    vue.snackbar = true
                                    vue.isLoading = false
                                    vue.e1 = 1
                                    vue.text_error = 'Ups, Hubo un problema al agregar, intenta otra vez'
                                }
                            });
                    }
                }
            }

        },
        response_create_cli(data) {
            var cli = data
            if (cli.state != 'error') {
                this.isLoading = false
                this.selectedOpen = false
                this.e1 = 1
                window.location.replace("/mis_citas")
            } else {
                this.text_error = cli.detail
                this.snackbar = true
                this.isLoading = false
            }

        },
        ir_miscitas() {
            window.location.replace("/mis_citas")
        },
        validate_code(horario_id) {
            this.isLoading = true
            if (horario_id.codigo) {
                var vue = this
                axios.get("/api/validacodigo?codigo=" + horario_id.codigo)
                    .then((response) => (this.response_validate_code(response.data)))
                    .catch(function (error) {
                        console.log(error);
                        vue.snackbar = true
                        vue.isLoading = false
                        vue.text_error = 'Ups, Hubo un problema al agregar, intenta otra vez'
                    });
            } else {
                this.isLoading = false
                this.e1 = 2
            }
        },
        response_validate_code(response) {
            if (response.state == 'error') {
                this.snackbar_error = true
                this.text_error = 'El código ingresado no es valido.'
            } else {
                this.id_codigo = response.data[0].id
                this.e1 = 2
            }
            this.isLoading = false
        },
        get_mis_citas() {
            var localva = localStorage.getItem("cliente")
            if (localva) {
                var cli = JSON.parse(localva)
                if (cli) {
                    if (cli.id != null) {
                        axios.get("/api/getcitascli?cliente_id=" + cli.id)
                            .then((response) => (this.num_citas = response.data.data.length))
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                }
            }

        },
    },
}
</script>
