<template>
<section class="discount">
    <div class="container">
        <v-expansion-panels>
            <v-expansion-panel v-for="item in citas_cli_arr" :key="item.id">
                <v-expansion-panel-header>
                    <v-col cols="12" md="4"> {{ item.folio }} / {{ item.fecha }}
                    </v-col>
                    <v-col cols="12" md="8">

                        <v-spacer></v-spacer>

                        <v-alert v-if="item.state=='draft'" x-small color="#FF9D00" dense outlined>
                            Espera de confirmación
                        </v-alert>
                        <v-alert v-else-if="item.state=='confirmed'|item.state=='paid'" x-small color="#1FAD00" dense outlined>
                            Confirmada
                        </v-alert>
                        <v-alert v-else-if="item.state=='finish'" x-small color="#616161" dense outlined>
                            Concluida
                        </v-alert>
                        <v-alert v-else-if="item.state=='cancel'" x-small color="#FF1500" dense outlined>
                            Cancelada
                        </v-alert>
                    </v-col>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    {{ item.calle }}, {{ item.colonia }},
                    {{ item.ciudad }}, {{ item.estado }}
                    <v-spacer></v-spacer>
                    <a target="_blank" :href="item.maps">Ver en el mapa</a>
                    <v-divider color="#3ac5d4"></v-divider>
                    <v-banner v-if="item.state=='draft'" single-line>
                        Tu cita esta siendo validada por el administrador, pronto recibirás una llamada o mensaje para confirma la cita.
                    </v-banner>
                    <v-banner v-else-if="item.state=='confirmed'|item.state=='paid'" single-line>
                        <p>
                            Recomendaciones para asistir a tu cita:<br>
                            - Traer los hojos limpios de maquillaje o cualquier otra sustancia<br>
                            - Llegar en tiempo y forma ya que las citas tienen un periodo de espera<br>
                            - Tratar de mantenerse estática la mayor del tiempo para así asegurar un mejor trabajo
                        </p>
                        <p>
                            Servicio: {{ item.servicio }} ${{ item.precio_servicio}}<br>
                            Codigo de descuento: {{ item.codigo }} {{ item.descuento_codigo }}%<br>
                            Promoción: {{ item.descripcion_promocion }} {{ item.descuento_promocion }}%<br>
                            <b>Descuento total: {{ item.porcentaje_total }} % </b><br>
                            <b>Total: ${{ item.precio_final }}</b></p>
                    </v-banner>
                    <v-banner v-else-if="item.state=='finish'" single-line>
                        <p>Si tu servicio requiere de algún retoque, podrás registrar una nueva fecha una ves pasado el tiempo mínimo.</p>
                    </v-banner>
                    <v-banner v-else-if="item.state=='cancel'" single-line>
                        Tu cita fue rechazada por el administrador por alguno de los siguientes motivos : No fue confirmada via telefónica, Se detectaron más de una fecha el mismo día, Solicitaste una cancelación.
                    </v-banner>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </div>
</section>
</template>

<script>
import axios from "axios";
export default {

    data() {
        return {
            state_cli: [],
            citas_cli: [],
            citas_cli_arr: []
        }
    },
    created() {
        this.get_mis_citas()
        this.validate_timer()
    },
    methods: {
        validate_timer() {
            var localva = localStorage.getItem("cliente")
            if (localva) {
                setInterval(() => {
                    if (!localStorage.getItem("cliente")) {
                        console.log('No se encontraron resultados')
                    } else {
                        this.get_mis_citas()
                    }
                }, 60000);
            }
        },
        get_mis_citas() {
            var localva = localStorage.getItem("cliente")
            if (localva) {
                var cli = JSON.parse(localva)
                if (cli) {
                    if (cli.id != null) {
                        axios.get("/api/getcitascli?cliente_id=" + cli.id)
                            .then((response) => (this.citas_cli_arr = response.data.data))
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                }
            }

        },

    },
}
</script>
